<app-home></app-home>
<h1>Students</h1>

<section class="search-bar-wrapper">
  <input
    type="text"
    placeholder="Search by name"
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearchChange($event)"
    class="search-bar"
  />
</section>

<section class="student-table-section" *ngIf="filteredStudentList$ | async as studentList">
  <table class="student-table" *ngIf="depMap$ | async as dep">
    <thead>
      <tr>
        <th>
          Name
          <button class="sort-button" (click)="toggleSort()">
            {{ sortOrder === 'asc' ? '↑' : '↓' }}
          </button>
        </th>
        <th>Email</th>
        <th>Phone</th>
        <th>Department</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
  <tr *ngFor="let student of studentList">
    <td>{{ student.name }}</td>
    <td>
  <ng-container *ngIf="isAdmin() || isCurrentUser(student.email); else emptyCell">
    {{ student.email }}
  </ng-container>
  <ng-template #emptyCell></ng-template>
</td>
<td>
  <ng-container *ngIf="isAdmin() || isCurrentUser(student.email); else emptyCell">
    {{ student.phoneNumber }}
  </ng-container>
  <ng-template #emptyCell></ng-template>
</td>
    <td>{{ dep[student.departmentId] }}</td>
    <td class="actions">
      <button class="update" *ngIf="isAdmin()" (click)="editStudent(student.id)">Edit</button>
      <button class="delete" *ngIf="isAdmin()" (click)="delete(student.id)">Delete</button>
    </td>
  </tr>
</tbody>

  </table>

  <div class="pagination-controls">
    <button style="margin-right: -0.2%;" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>{{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>

  <div class="nav-links">
    <a style="margin-left: 12%;" routerLink="/student-add">Add Student</a>
    <a style="margin-left: 12%;" routerLink="/home">Go back</a>
  </div>
</section>
